{% extends 'base.html'}
{% load static %}

{% block title %}Posts{% endblock title %}

{% block content %}
<h1>Posts</h1>

<div class="d-flex justify-content-evenly">
    <div class="p-2"><button class="card-btns"><a href="{% url 'list' %}">All Posts</a></button></div>
    <div class="p-2"><button class="card-btns"><a href="{% url 'sale_list' %}">Product Posts</a></button></div>
    <div class="p-2"><button class="card-btns"><a href="{% url 'resource_list' %}">Resources</a></button></div>
    <div class="p-2"><button class="card-btns"><a href="{% url 'experience_list' %}">Experiences</a></button></div>
</div>

<div class="list-container">
    {% for post in post_list %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'detail' post.id %}">{{ post.title }}</a></h5>
                <h6 class="card-subtitle">{{ post.category }}</h6>
                <p class="card-text">{{ post.body | truncatechars:250 }}</p>

                <div class="author-div">
                    <p class="card-text">AUTHOR: {{ post.author }}</p>
                    <p class="card-text">DATE: {{ post.created_on }}</p>
                </div>

                <a href="{% url 'detail' post.id %}" class="card-btns">Read More</a>

                {% if user == post.author %}
                <a href="{% url 'delete' post.id %}" class="card-btns">Delete</a>
                <a href="{% url 'edit' post.id %}" class="card-btns">Edit</a>
                {% endif %}
            </div>
    {% endfor %}
</div>
{% endblock content %}